{% extends 'index_base.html' %}

{% block css %}
    <link href="/static/time/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main-inner">
	    <div class="container">
	      <div class="row">
	      	<div class="span12">
	      		<div class="widget ">
                    <div class="widget-content">
                        <div class="tabbable">
						<ul class="nav nav-tabs">
						  <li class="active">
						    <a href="#formcontrols" data-toggle="tab">填写平台故障信息</a>
						  </li>
						</ul>

						<br>
                        <div class="span-6">
                            <div>
                                <span>选择企业:</span>
                                <select class="form-control input-sm" style="width: 210px;display: inline" id="select">
                                    <option value="" ></option>
                                    {% for name in all_group %}
                                        <option value="{{ name.name }}" >{{ name.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                            <span>故障级别:</span>
                                <select class="form-control input-sm" style="width: 210px;display: inline" id="level">
                                    <option value="" ></option>
                                    {% for name in level_table %}
                                        <option value="{{ name.0 }}" >{{ name.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <div class="input-append date start_datetime">
                            <span>开始时间: </span><input type="text" name="start" readonly>
                            <span class="add-on" style="margin-bottom: 7px;display: none"><i class="icon-calendar"></i></span>
                        </div>
                        <div class="input-append date end_datetime">
                            <span>结束时间: </span><input type="text" name="end" readonly>
                            <span class="add-on" style="margin-bottom: 7px;display: none"><i class="icon-calendar"></i></span>
                        </div>
                        <div >
                            <span>故障明细: </span><textarea class="form-control span6" name="text" rows="3"></textarea>
                        </div>
                            <div class="">
                                <a class="btn btn-success" style="margin-top: 50px;" href="/king_admin/avail/info/">返回</a>
                                <button type="button" class="btn btn-success pull-right" style="margin-right: 10px;margin-top: 50px;" onclick="submit()">提交/返回</button>
                                <button type="button" class="btn btn-success pull-right" style="margin-right: 60px;margin-top: 50px;" onclick="submit2()">保存/继续</button>
                            </div>
                            </div>
                        <div class="span-5">
                            <h3 id="log" style="color: red;margin-left: 30px;"></h3>
                        </div>
                        </div>
                    </div>
				</div> <!-- /widget -->
		    </div> <!-- /span8 -->
	      </div> <!-- /row -->
	    </div> <!-- /container -->
	</div> <!-- /main-inner -->


{% endblock %}
{% block js %}
        <script src="/static/time/js/bootstrap-datetimepicker.js"></script>
        <script>
        $.fn.datetimepicker.dates['zh'] = {
                days:       ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六","星期日"],
                daysShort:  ["日", "一", "二", "三", "四", "五", "六","日"],
                daysMin:    ["日", "一", "二", "三", "四", "五", "六","日"],
                months:     ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11","12"],
                monthsShort:  ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11","12"],
                meridiem:    ["上午", "下午"],
                //suffix:      ["st", "nd", "rd", "th"],
                today:       "今天"
        };
        $(".start_datetime").datetimepicker({
            language:  'zh',
            format: "yyyy-MM-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            minuteStep: 1
        });
        $(".end_datetime").datetimepicker({
            language:  'zh',
            format: "yyyy-MM-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            minuteStep: 1
        });
        function submit() {
            var xmname = $("#select option:selected").val();
            var level = $("#level option:selected").val();
            var start = $('input[name=start]').val();
            var end = $('input[name=end]').val();
            var text = $('textarea[name=text]').val();
            $("#log").text("");
            $.ajax({
                  url: "/avail/create",
                  type: "POST",
                  dataType: "JSON",
                  data: {'xmname':xmname,'start':start,'end':end,'text':text,'level':level},
                  success:function (data) {
                        if(!data.data.status){
                            console.log(data.data.message);
                            $("#log").text(data.data.message);
                        }else{
                            window.location.href="/king_admin/avail/info/";
                        }
                  }
            })
        }

        function submit2() {
            var xmname = $("#select option:selected").val();
            var level = $("#level option:selected").val();
            var start = $('input[name=start]').val();
            var end = $('input[name=end]').val();
            var text = $('textarea[name=text]').val();
            $("#log").text("");
            $.ajax({
                  url: "/avail/create",
                  type: "POST",
                  dataType: "JSON",
                  data: {'xmname':xmname,'start':start,'end':end,'text':text,'level':level},
                  success:function (data) {
                        if(!data.data.status){
                            console.log(data.data.message);
                            $("#log").text(data.data.message);
                        }else{
                            console.log("ccccccc");
                            $('input[name=start]').val('');
                            $('input[name=end]').val('');
                            $("#level option:selected").attr("selected",false)
                            $('textarea[name=text]').val('');
                            $("#log").text("保存成功，可以继续填写");
                        }
                  }
            })
        }
    </script>
{% endblock %}